@font-face {
    font-family: 'Mont-bold';
    src: url(../../fonts/Mont-Bold.ttf);
}
@font-face {
    font-family: 'Mont-normal';
    src: url(cmg0620.github.io/6/fonts/Mont-Regular.ttf);
}
* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *{
    font-family:'Poppins' ;
  }
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  /*Убираем линии обводки некоторых браузеров*/
  :focus,
  :active {
    outline: none;
  }
  
  a:focus,
  a:active {
    outline: none;
  }
  
  /*задаем блочными теги Html5*/
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  
  html,
  body {
    /* font-family: "Lato", sans-serif; */
    height: 100%;
    width: 100%;
    background-color: #FDFDFD;
    /* line-height: 30px;
    font-size: 20px; */
    color: black;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  /*задаем наследование шрифтов*/
  input,
  button,
  textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a,
  a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
/* code starts here */

.sec-1 {

}
.container-min {
    margin: 0px auto;
    /*max-width: 1240px;*/
    max-width: 90%;
}

.container-max {
    margin: 0px auto;
    /*max-width: 1360px;*/
  max-width: 95%;
}
.container-maxi{
  margin: 0px auto;
  max-width: 100%;
  background-color: #0B0614;;
}
.navbar-wrap{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 5;
  background-color: #FFFFFF;
}
.navbar {
  margin: 0px auto;
  /*max-width: 1240px;*/
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5vw;
  z-index: 5;
}
.logo {
  display: inline-flex;
  vertical-align: middle;
    color: #0B0614;
    font-family: 'Mont-bold';
    margin-right: 10px;
    font-size: 2vw;
  }
.vertical-line{
  margin-right: 10px;
  font-size: 2vw;
}
.tgth{
  display: inline-flex;
  line-height: 4vw;
}
.tgth-2{
  display: inline-flex;
  margin-right: 0px;
}

details summary::-webkit-details-marker {
  display: none
}
details > summary {
  list-style: none;
}

details{
justify-content: center;
}

details > summary{
  width: 2vw;
  margin-right: 4vw;

}
details summary:before{
  display: block;
  content: url(vec/lines_menu_burger_icon_123889.svg);
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
}
details[open] summary:before{
  margin-left: 3vw;
  margin-top: 50%;
  display: block;
  content: ' ';
  background-image: url('vec/cross_icon-icons.com_73055.svg');
  background-size: 2vw 2vw;
  height: 2vw;
  width: 2vw;

}
details[open]{
  
  transform: translateY(48%);
  display: inline-flex;
  background: #FFFFFF;
  height: 100vh;
  width: 30vw;
  animation: slide-main .35s ease-in ;

}
details[open] ul{
  animation: slide .35s ease-in-out;
}



details[open] > summary:before {
  transform: rotate(90deg);
}

@keyframes slide {
  0%    {opacity: 0; transform:  translate(0, -10px); }
  100%  {opacity: 1; transform:  translate(0, 0);}
}
@keyframes slide-main {
  0%    {opacity: 0; transform:  translate(30vw, 48%); }
  100%  {opacity: 1; transform:  translate(0, 48%);}
}
.navbar-list-mobile li{
  font-family: 'Mont-normal';
  font-size: 3vw;
  margin-top: 3vw;
  margin-left: 3vw;
}
.search-icon{
  vertical-align: middle;
    padding-right: 0.1vw;
}
.search-icon img{
  display: inline-flex;
  vertical-align: middle;
    height: 1.5vw;
    width: 1.5vw;
}
.search{
    display: inline-flex;
    vertical-align: middle;
    min-width: 2vw;
}
input{
  display: inline-flex;
  vertical-align: middle;
  font-family: 'Mont-normal';
  font-size: 1vw;
  color: #0B0614;
}
input::placeholder{
      display: inline-flex;
    vertical-align: middle;
    font-family: 'Mont-normal';
    font-size: 1vw;
    color: gray;
}
.navbar-list {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.navbar-list li{
    margin-right: 2vw;
    font-family: 'Mont-normal';
    font-size: 1vw;
    color: #0B0614;
}
.navbar-btn button {
  display: inline-block;
  vertical-align: middle;
    width: 8vw;
    height: 4vw;
    background: #FF5029;
    border-radius: 1vw;
    font-family: 'Mont-normal';
    font-size: 1vw;
    color: #ffffff;
}

.title-image{
background: #f9eaed;
border-radius: 2vw;
margin: auto;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
min-width: auto;
}
.title-image img{
    width: 100%;
    border-radius: 2vw;
    z-index: 2;
}
.main-text{
    position: absolute;
    margin-top: -40%;
    margin-left: 49%;
    transform: translateX(-50%);
    z-index: 1;
    /* min-width: 100%; иначе полоса прокрукти */
  text-align: center;
  color:#0B0614;
  font-family: 'Mont-bold';
  font-size: 6vw;
  line-height: 6vw;
}

.list{
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  display: flex;
  align-items: center;
  min-width: 90%;
  position: absolute;
  background: #ffffff;
  border-radius: 2vw;
  box-shadow: #F2F2F2 0px 1vw 2vw 1vw;
  z-index: 4;
  margin-top: -5%;
  height: 9vw;
}
form{
  display: flex;
  width: 100%;
  justify-content: center;
}
label{
  color: gray;
  font-family: 'Mont-normal';
  font-size: 1.5vw;
}

input[type=submit]{
margin-left: 5%;
font-family: 'Mont-normal';
font-size: 2vw;
text-align: center;
width: 12vw;
height: 5vw;
color: #FFFFFF;
border-radius: 1vw;
background-color: #FF5029;
}

#genders, #ages, #languages, #cities{
  color: #000000;
  font-family: 'Mont-normal';
  font-size: 2vw;
  display: block;
}
.flex-select{
  /* display: inline-block; */
  display: flex;

  flex-direction: column;
  justify-content: center;
  /* height: 200px; */
}
.guides{
  margin-top: 14%;
}
h3{
  font-family: 'Mont-bold';
  font-style: normal;
  font-weight: 800;
  font-size: 4.5vw;
  line-height: 5.5vw;
}
.upper-block button{

  width: 20vw;
  height: 5vw;
  background: #FF5029;
  border-radius: 1vw;
  font-family: 'Mont-normal';
  font-size: 2vw;
  color: #ffffff;
}
.upper-block{
  align-items: center;
  display: flex;
  justify-content: space-between;
  line-height: 5.5vw;
}

.lower-block{
  display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 8vw;
}
.card1{
  display: flex;
  float: left;
  position: relative;
  margin-top: 3vw;
  /* margin-right: 3vw; */
  width: 19vw;
  height: 27vw;
  border-radius: 1vw;
  background-color: white;
  box-shadow: #F2F2F2  0px 1vw 2vw 1vw;
}
.card1 img{
  position: absolute;
  margin-left: 50%;
  transform: translateX(-60%);
  max-width: 100%;
  margin-top: 0.5vw;
  border: #FF5029 0.2vw solid;
  border-radius: 100%;
  scale: 0.8;
}
.card-text{
  min-width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  position: absolute;
  margin-top: 18.5vw;
  font-family: 'Mont-bold';
font-size: 1.5vw;
text-align: center;
}
.card-text p{
  margin-top: 1vw;
  color: #FF5029;
}
.card-text span{
  font-family: 'Mont-normal';
  font-size: 1.2vw;
  color: #666666;
}
.card1:hover{
  background-color: #FF5029;
}
.card1{
  transition: 200ms;
}
.card1:hover .card-text, .card1:hover .card-text p, .card1:hover .card-text span{
  color: white;
}


.title{
  text-align: center;
}
.illustrations{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8vw;
}
.il1{
  display: flex;
  float: left;
  position: relative;
  margin-top: 3vw;
  /* margin-right: 3vw; */
  width: 28vw;
  height: 40vw;
  border-radius: 1vw;
  background-color: #f9eaed;
}
.il1 img{
  position: absolute;
  margin-left: 50%;
  transform: translateX(-60%);
  height: 30vw;
  margin-top: 0.5vw;
  scale: 0.8;
}
.il-text h4{
  min-width: 100%;
  margin-left: 50%;
  transform: translateX(-50%);
  position: absolute;
  margin-top: 30vw;
  font-family: 'Mont-normal';
font-size: 3vw;
text-align: center;
}
.main-text-1{
  position: absolute;
  margin-top: -38%;
  margin-left: 49%;
  transform: translateX(-50%);
  z-index: 1;
  min-width: 90%;
text-align: center;
color:#0B0614;
font-family: 'Mont-bold';
font-size: 6vw;
line-height: 6vw;
}
.title-image-1{
  background: url(img/sec-title-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 2vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: auto;
  }
.title-image-1 img{
width: 100%;
border-radius: 2vw;
z-index: 2;
  }
.pannel{
display: inline-block;
vertical-align: middle;
justify-content: space-between;
display: flex;
min-width: 90%;
align-items: center;
background: #ffffff;
position: absolute;
box-shadow: #F2F2F2 0px 1vw 2vw 1vw;
border-radius: 2vw;
margin-top: -7%;
z-index: 4;
height: 14vw;

  }
  .pannel-text{
    margin-left: 6vw;
    font-family: 'Mont-normal';
    font-size: 3vw;
  }
  .pannel-text p{
    font-family: 'Mont-normal';
    font-size: 3vw;
    color: #FF5029;
  }
  .pannel-right-blocks{
    margin-right: 6vw;
    width:25vw;
  }
  .pannel-right-blocks button{
    width: 25vw;
    height: 5vw;
    background: #FF5029;
    border-radius: 1vw;
    font-family: 'Mont-normal';
    font-size: 2vw;
    color: #ffffff;
  }
  .mini-pict{
    display: inline-flex;
    width: 25vw;
    margin-top: 1vw;
    margin-left: 1vw;
    font-family: 'Mont-normal';
    font-size: 1.5vw;
    color: #FF5029;
  }
  .mini-pict p{
    margin-left: 1vw;
  }
  .mini-pict span{
    color: #666666;
    font-family: 'Mont-normal';
    font-size: 1.5vw;
  }
  .mini-pict img{
    height: 4vw;
margin-left: -4%;
  }
.title-2{
  margin-top: 14vw;
  text-align: center;
  margin-bottom: 6vw;
}
.main-articles{
  display: flex;
  flex-flow: row wrap;
justify-content: space-between;
margin-bottom: 15vw;
}
.main-articles h5{
  color: #0B0614;
  font-family: 'Mont-normal';
  font-size: 3vw;
  line-height: 3vw;
}
.main-articles button{
  background-color: #FEF4F5;
  color:#FF5029;
  font-family: 'Mont-normal';
  font-size: 2vw;
  border-radius: 1vw;
}
.left-article-block{
  background-color: #FFFFFF;
  border-radius: 2vw;
  box-shadow: #F2F2F2 0px 1vw 2vw 1vw;
  width: 42vw;
  height: 42vw;
}
.main-pict-article img{
  margin-left: 3vw;
  margin-top: 2vw;
  width: 36vw;
  border-radius: 1vw;
}
.right-article-block{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.right-article{
  display: inline-flex;
  background-color: #FFFFFF;
  border-radius: 2vw;
  box-shadow: #F2F2F2 0px 1vw 2vw 1vw;
height:20vw;
width:44vw;
}
.main-pict-mini img{
  margin-left: 2vw;
  margin-top: 2vw;
  height: 16vw;
  border-radius: 1vw;
}
.column{
  margin-top: 2vw;
  margin-left: 3vw;
  width:80%;
}
.column button{
  width: 8vw;
  margin-bottom: 1vw;
}
.columns{
  margin-top: 3.5vw;
  margin-left: 2vw;
}
.columns button{
  width: 16vw;
  margin-bottom: 1vw;
}
.columns img{
  vertical-align: middle;
  max-width: 100%;
  width: 3vw;
  height: 3vw;
  object-fit: contain;
}
.column img{
  vertical-align: middle;
  max-width: 100%;
  width: 3vw;
  height: 3vw;
  object-fit: contain;
}
.bottom{
  display: flex;
  justify-content: space-between;
}
.columns-bot{
  margin-top: 6vw;
  display: inline-flex;
  flex-direction: column;
  max-width: 20%;
  margin-bottom: 3vw;
}
.columns-bot:first-child{
  margin-top: 4.7vw;
  display: inline-flex;
  flex-direction: column;
  max-width: 20%;
}
.columns-bot p{
    font-family: 'Mont-normal';
  color:gray;
  display: flex;
  font-size: 1vw;
  margin-top: 1vw;
}

.columns-bot li{
    font-family: 'Mont-normal';
  color:grey;
  font-size: 1vw;
  margin-top: 1vw;
line-height: 2vw;

}
.columns-bot:last-child li{
    font-family: 'Mont-normal';
  color: #FFFFFF;
}
.mini-title{
  font-family: 'Mont-bold';
  color:#ffffff;
  font-size: 1vw;
}
.min-title{
  font-family: 'Mont-bold';
    color:#ffffff;
    font-size: 3vw;
}
.botline{
  display: inline-block;
  border-bottom: 1px solid gray;
  width: 100%;
  justify-content: center;
  margin-bottom: 2vw;
}
.left-bot {
  line-height: 2vw;
  font-family: 'Mont-normal';
  color:grey;
  font-size: 1vw;
}
.left-bot span{
  color:#FF5029;
  font-family: 'Mont-normal';
  font-size: 1vw;
}
.right-bot{
  line-height: 2vw;
  margin-bottom: 3vw;
}
.right-bot a{
  margin-left:1vw;
  font-family: 'Mont-normal';
  color:grey;
  font-size: 1vw;
}
.columns-bot li img{
  max-width: 100%;
  width: 3vw;
  height: 3vw;
  scale: 0.8;
  object-fit: contain;
  vertical-align: middle;
}












@media screen and (max-width: 425px) and (min-width:300px){
  .columns-bot:first-child{
    display: none;
  }
  .columns-bot{
    margin-top: 6vw;
    display: inline-flex;
    flex-direction: column;
    max-width: 40%;
    margin-bottom: 3vw;
  }
  .mini-title{
    font-size: 3vw;
  }
  .columns-bot li{
    font-size: 3vw;
    margin-top: 1vw;
  line-height: 3vw;
  }
  .right-bot, .left-bot, .botline{
    display: none;
  }
  .columns-bot li img{
    max-width: 100%;
    width: 4vw;
    height: 4vw;
    object-fit: contain;
    vertical-align: middle;
  }
}
@media  (min-width:650.1px) {
  .liness{
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid gray;
    height: 5vw;
    margin-left: 5%;
    margin-right: 2%;
  }
  .tgth-2:last-child{
    display: none;
  }
}
@media  (max-width: 650px) {
  .vertical-line, .search, .navbar-btn, .navbar-list, .mini-pict, .card-text span{
    display: none;
  }
 .form{
  justify-content: space-between;
 }
.navbar{
  height: 10vw;
}
.logo{
  font-size: 4vw;
}
.tgth-2:last-child{
  margin-right: -5%;

}
.left-article-block{
  width: 100%;
  height: 70vw;
}
.main-pict-article{
  width: 100%;
}

.right-article-block{
width: 100%;
}
.right-article{
  display: flex;
  margin-top: 2vw;
  width: 100%;
  height: 70vw;
  flex-direction: column;
}
.columns{
margin-left: 3vw;
}
.main-pict-article img{
  margin-left: 3vw;
  margin-top: 2vw;
  height: 50vw;
  width:84vw;
  border-radius: 2vw;
}
.main-pict-mini img{
  margin-left: 3vw;
  margin-top: 2vw;
  height: 50vw;
  width: 84vw;
  border-radius: 1vw;
}
}
